@font-face {
    font-family: 'Aldo the Apache';
    src: url('./fonts/AldotheApache.woff2') format('woff2'),
        url('./fonts/AldotheApache.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff') format('woff'),
    url('./fonts/Roboto-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

