#phone {
    width: calc(362px / 1.4);
    height: calc(760px / 1.4);
    position: fixed;
    right: 20px;
    bottom: 100px;
    font-family: "Roboto";

    ::-webkit-scrollbar-track
    {
        background-color: rgba(0, 0, 0, 0.164);
    }

    ::-webkit-scrollbar
    {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb
    {
        background-color: #00000041;
    }

    #phone-background {
        background-image: url(../assets/phone/phone.png);
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: 9;
        position: relative;
    }

    #phone-anchor {
        background-image: url(../assets/phone/anchor.png);
        background-size: cover;
        width: calc(115px / 1.4);
        height: calc(26px / 1.4);
        position: absolute;
        top: 10px;
        left: 87px;
        z-index: 10;
    }

    #screen {
        position: absolute;
        top: 10px;
        left: 5px;
        right: 5px;
        bottom: 13px;
        background-color: white;
        border-radius: 20px;
        color: white;
        overflow: hidden;
        pointer-events: all;
        min-height: 520px;
    }

    #status-bar {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        top: 12px;
        left: 3px;
        right: 3px;
        height: 18px;
        z-index: 8;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .wallpaper {
        background-image: url(../assets/phone/wallpaper1.jpg);
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .homepage {
        position: absolute;
        top: 25px;
        bottom: 20px;
        left: 10px;
        right: 10px;
    }

    a {
        color: white;
    }

    .app-icon {
        background-color: red;
        border-radius: 10px;
        $size: 50px;
        width: $size;
        height: $size;
        cursor: pointer;
        transition: 0.2s;
        display: inline-block;
        margin-right: 5px;
        font-size: 30px;
        text-align: center;

        svg {
            margin-top: 9px;
        }

        &:hover {
            transform: scale(0.95);
        }

        .text {
            font-size: 10px;
            text-align: center;
            margin-top: 13px;
        }
    }

    .app-icon-green {
        background: linear-gradient(190deg, rgba(39, 199, 35, 1) 0%, rgba(18, 177, 32, 1) 100%);
    }

    .app-icon-blue {
        background: linear-gradient(190deg, rgba(12, 169, 253, 1) 0%, rgba(1, 141, 228, 1) 100%);
    }

    .app-icon-purple {
        background: linear-gradient(190deg, rgb(216, 11, 107)0%, rgb(116, 8, 101) 100%);
    }

    .app-icon-red {
        background: linear-gradient(190deg, rgba(209, 1, 1, 1) 0%, rgba(209, 1, 1, 1) 100%);
    }

    .app-icon-yellow {
        background: linear-gradient(190deg, rgba(227,181,0,1) 0%, rgba(255,204,0,1) 100%);
    }

    .app-bar {
        padding-top: 28px;
        background-color: red;
        padding-left: 15px;
        padding-bottom: 8px;
        position: relative;
    }

    .app-container {
        color: black;
        overflow: auto;
        position: absolute;
        top: 55px;
        left: 4px;
        right: 4px;
        bottom: 40px;

        a {
            color: black;
        }
    }

    .navigation-bar {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        z-index: 100;
        
        .nav-bt {
            margin-top: 6px;
            vertical-align: middle;
            display: inline-block;
            width: 30%;
            cursor: pointer;

            svg {
                transition: 0.2s;
            }

            &:active {
                svg {
                    transform: scale(0.80);
                }
            }
        }
    }

    .bubble-bt {
        position: absolute;
        bottom: 50px;
        right: 20px;
        padding: 15px;
        border-radius: 50px;
        opacity: 0.7;
        cursor: pointer;
        transition: 0.2s;
        color: white;
        text-align: center;

        &:hover {
            opacity: 1;
            transform: scale(0.95);

            svg {
                transform: scale(1.3);
            }
        }
    }

    .contacts-screen {
        .contact-item {
            padding: 10px;
            transition: 0.2s;
            border-bottom: 1px solid lightgray;
            cursor: pointer;

            &:hover {
                background-color: rgb(230, 230, 230);
            }

            &:active {
                background-color: rgb(177, 177, 177);
            }

            .letter-circle {
                background-color: lightgray;
                border: 1px solid lighten($color: gray, $amount: 20%);
                color: black;
                text-align: center;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 50px;
                display: inline-block;
            }

            .contact-name {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
            }
        }
    }

    input[type="text"] {
        width: 100%;
        padding: 5px;
        border: 1px solid lightgray;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .message-list-screen {
        .conversation-item {
            padding: 10px;
            transition: 0.2s;
            border-bottom: 1px solid lightgray;
            cursor: pointer;

            &:hover {
                background-color: rgb(230, 230, 230);
            }

            &:active {
                background-color: rgb(177, 177, 177);
            }

            .letter-circle {
                background-color: lightgray;
                border: 1px solid lighten($color: gray, $amount: 20%);
                color: black;
                text-align: center;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 50px;
                display: inline-block;
            }

            .contact-name {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;

                span {
                    color: gray;
                    font-size: 12px;
                }
            }
        }
    }

    .message-screen {
        padding-top: 4px;

        .message-item {
            padding: 6px;
            background-color: lightgray;
            color: black;
            border-radius: 5px;
            width: 70%;
            margin-left: 5px;
            margin-bottom: 3px;
            font-size: 13px;
            word-wrap: break-word;
            text-align: left;
        }

        .message-item-right {
            margin-left: auto; 
            margin-right: 5px;
            background-color: rgba(209, 1, 1, 1);
            color: white;
        }

        .message-input-container {
            position: absolute;
            bottom: 5px;
            left: 5px;
            right: 5px;
            height: 35px;

            input[type="text"] {
                width: 180px;
                border-radius: 15px;
                font-size: 15px;
                background-color: rgb(226, 226, 226);
            }

            .send-btn {
                border-radius: 50px;
                padding: 10px;
                color: white;
                background-color: rgb(134, 0, 0);
                display: inline-block;
                cursor: pointer;
                margin-left: 5px;
            }
        }
    }

    .call-screen {
        .your-number {
            font-size: 13px;
            text-align: center;
            margin-top: 10px;
            color: gray;

            span {
                font-weight: bold;
                font-size: 16px;
            }
        }

        .numpad-number {
            margin-top: 10px;
            border: none;
            text-align: center;
            height: 50px;
        }

        .numpad {
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
            user-select: none;

            .numpad-btn {
                background-color: lightgray;
                color: black;
                display: inline-block;
                border-radius: 30px;
                width: 50px;
                height: 50px;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
                line-height: 50px;
                transition: 0.2s;
                margin-left: 7px;
                margin-right: 7px;
                margin-bottom: 10px;

                svg {
                    padding-top: 15px;
                }

                &:hover {
                    background-color: rgb(0, 168, 0);
                    color: white;
                    transform: scale(0.9);
                }
            }
        }
    }

    .incall-screen {
        .background-blurred {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url(../assets/phone/wallpaper1.jpg);
            background-size: cover;
            filter: blur(9px);
            z-index: 1;
        }

        .content-container {
            position: relative;
            z-index: 2;
            user-select: none;

            .contact-name {
                font-size: 26px;
                color: white;
                text-align: center;
                margin-top: 50px;
                font-weight: bold;
            }
    
            .timer {
                color: white;
                font-size: 13px;
                text-align: center;
            }

            .numpad-btn {
                background-color: lightgray;
                color: white;
                display: inline-block;
                border-radius: 30px;
                width: 50px;
                height: 50px;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
                line-height: 50px;
                transition: 0.2s;
                margin-left: 7px;
                margin-right: 7px;
                margin-bottom: 10px;

                svg {
                    padding-top: 15px;
                }

                &:hover {
                    background-color: rgb(0, 168, 0);
                    color: white;
                    transform: scale(0.9);
                }
            }

            .numpad-btn-rotate {
                &:hover {
                    background-color: rgb(0, 168, 0);
                    color: white;
                    transform: scale(0.9) rotate(135deg) !important;
                }
            }
        }
    }

    .urgency-screen {
        select {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 18px;
            padding: 3px;
            border: 1px solid lightgray;
        }

        textarea {
            font-family: "Roboto";
            padding: 5px;
            font-size: 17px;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 100%;
            height: 150px;
            border: 1px solid lightgray;
            resize: none;
        }
    }

    .urgency-list-screen {
        padding: 5px;

        .urgency-item {
            background-color: rgb(59, 59, 59);
            padding: 7px;
            border-radius: 8px;
            margin-bottom: 5px;

            .number {
                background-color: lightgray;
                padding: 5px;
                border-radius: 5px;
                font-size: 12px;
                text-align: center;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background-color: rgb(146, 146, 146);
                }
            }

            .urgency-content {
                margin-top: 5px;
                color: white;
                padding: 5px;
                font-size: 15px;
                border-radius: 5px;
            }
        }
    }
    
    .compagny-screen {
        padding: 5px;

        select {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 18px;
            padding: 3px;
            border: 1px solid lightgray;
        }

        .compagny-name {
            font-size: 20px;
            font-weight: bold;
            color: white;
            padding: 8px;
            border-radius: 8px;
            text-align: center;
        }

        .compagny-money {
            color: black;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 13px;
            color: purple;
        }

        .employee-item {
            padding: 10px;
            transition: 0.2s;
            border-bottom: 1px solid lightgray;
            cursor: pointer;

            &:hover {
                background-color: rgb(230, 230, 230);
            }

            &:active {
                background-color: rgb(177, 177, 177);
            }

            .letter-circle {
                background-color: lightgray;
                border: 1px solid lighten($color: gray, $amount: 20%);
                color: black;
                text-align: center;
                width: 30px;
                height: 30px;
                line-height: 30px;
                border-radius: 50px;
                display: inline-block;
            }

            .contact-name {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
            }
        }
    }
}

.appanim-enter {
    opacity: 0;
}
.appanim-enter-active {
    transition: 0.5s;
    opacity: 1;
}
.appanim-exit {
    opacity: 1;
}
.appanim-exit-active {
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
}
